n8n/sellf-lead-nurture.json
{
  "name": "Sellf: Lead Captured → Email Provider + Nurture",
  "nodes": [
    {
      "parameters": {
        "path": "sellf-lead",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-1",
      "name": "Sellf Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "sellf-lead"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\"}"
      },
      "id": "res-1",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nif (body.event !== 'lead.captured') return [];\n\nconst d = body.data;\nreturn [{\n  json: {\n    email: d.customer.email,\n    userId: d.customer.userId,\n    productName: d.product.name,\n    productSlug: d.product.slug,\n    productId: d.product.id,\n    productIcon: d.product.icon,\n    tag: `lead:${d.product.slug}`\n  }\n}];"
      },
      "id": "code-1",
      "name": "Extract Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "resource": "subscriber",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "status": "active"
        }
      },
      "id": "ml-1",
      "name": "Add to MailerLite",
      "type": "n8n-nodes-base.mailerLite",
      "typeVersion": 1,
      "position": [700, 200],
      "notes": "TODO: Configure MailerLite credentials. Optionally assign to a group matching the product."
    },
    {
      "parameters": {
        "unit": "days",
        "amount": 3
      },
      "id": "wait-1",
      "name": "Wait 3 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [700, 440]
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourdomain.com",
        "toEmail": "={{ $('Extract Lead Data').item.json.email }}",
        "subject": "=Podoba Ci się {{ $('Extract Lead Data').item.json.productName }}? Mamy coś specjalnego",
        "emailType": "html",
        "html": "=<h2>{{ $('Extract Lead Data').item.json.productIcon }} Cześć!</h2>\n<p>Kilka dni temu pobrałeś/aś <strong>{{ $('Extract Lead Data').item.json.productName }}</strong>.</p>\n<p>Jeśli chcesz pójść dalej, sprawdź naszą pełną ofertę:</p>\n<p><a href=\"https://yourdomain.com\" style=\"display:inline-block;padding:12px 24px;background:#10b981;color:#fff;text-decoration:none;border-radius:8px\">Zobacz ofertę →</a></p>\n<p style=\"color:#888;font-size:12px\">Jeśli nie chcesz otrzymywać takich wiadomości, zignoruj tę wiadomość.</p>",
        "options": {}
      },
      "id": "email-1",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [940, 440],
      "notes": "TODO: Configure SMTP credentials. Customize content and link to paid product."
    }
  ],
  "connections": {
    "Sellf Webhook": {
      "main": [
        [
          { "node": "Respond OK", "type": "main", "index": 0 },
          { "node": "Extract Lead Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Lead Data": {
      "main": [
        [
          { "node": "Add to MailerLite", "type": "main", "index": 0 },
          { "node": "Wait 3 Days", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 3 Days": {
      "main": [
        [{ "node": "Send Follow-up Email", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "sellf" }
}
