n8n/sellf-access-expired-winback.json
{
  "name": "Sellf: Access Expired → Win-back Email + Auto Coupon",
  "nodes": [
    {
      "parameters": {
        "path": "sellf-expired",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-1",
      "name": "Sellf Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "sellf-expired"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\"}"
      },
      "id": "res-1",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nif (body.event !== 'access.expired') return [];\n\nconst d = body.data;\nif (!d.customer.email) return [];\n\nreturn [{\n  json: {\n    email: d.customer.email,\n    userId: d.customer.userId,\n    productName: d.product.name || 'produkt',\n    productSlug: d.product.slug,\n    productId: d.product.id,\n    productIcon: d.product.icon || '',\n    grantedAt: d.access.grantedAt,\n    expiredAt: d.access.expiredAt\n  }\n}];"
      },
      "id": "code-1",
      "name": "Extract Expiry Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourdomain.com",
        "toEmail": "={{ $json.email }}",
        "subject": "=Twój dostęp do {{ $json.productName }} wygasł",
        "emailType": "html",
        "html": "=<h2>{{ $json.productIcon }} Twój dostęp wygasł</h2>\n<p>Cześć,</p>\n<p>Twój dostęp do <strong>{{ $json.productName }}</strong> wygasł.</p>\n<p>Jeśli chcesz kontynuować naukę, możesz odnowić dostęp. Za chwilę wyślemy Ci specjalny kod rabatowy!</p>\n<p style=\"color:#888;font-size:12px\">Dostęp aktywny od {{ $json.grantedAt }} do {{ $json.expiredAt }}</p>",
        "options": {}
      },
      "id": "email-1",
      "name": "Send Expiry Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [700, 160],
      "notes": "TODO: Configure SMTP credentials."
    },
    {
      "parameters": {
        "unit": "days",
        "amount": 2
      },
      "id": "wait-1",
      "name": "Wait 2 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [700, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://yourdomain.com/api/v1/coupons' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"code\": \"WINBACK-{{ $('Extract Expiry Data').item.json.userId.substring(0,8).toUpperCase() }}\",\n  \"discount_type\": \"percentage\",\n  \"discount_value\": 20,\n  \"max_uses\": 1,\n  \"max_uses_per_user\": 1,\n  \"email_whitelist\": [\"{{ $('Extract Expiry Data').item.json.email }}\"],\n  \"product_whitelist\": [\"{{ $('Extract Expiry Data').item.json.productId }}\"],\n  \"expires_at\": \"{{ $now.plus({days: 7}).toISO() }}\",\n  \"is_active\": true\n}",
        "options": {}
      },
      "id": "http-1",
      "name": "Create Win-back Coupon (Sellf API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 440],
      "notes": "TODO: Configure HTTP Header Auth with Sellf API key (X-API-Key: sf_live_xxx). Update domain URL."
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourdomain.com",
        "toEmail": "={{ $('Extract Expiry Data').item.json.email }}",
        "subject": "=20% rabatu na odnowienie {{ $('Extract Expiry Data').item.json.productName }}",
        "emailType": "html",
        "html": "=<h2>{{ $('Extract Expiry Data').item.json.productIcon }} Specjalna oferta dla Ciebie</h2>\n<p>Cześć,</p>\n<p>Mamy dla Ciebie <strong>20% rabatu</strong> na odnowienie dostępu do <strong>{{ $('Extract Expiry Data').item.json.productName }}</strong>.</p>\n<p style=\"font-size:24px;font-weight:bold;background:#f0fdf4;padding:16px;border-radius:8px;text-align:center\">WINBACK-{{ $('Extract Expiry Data').item.json.userId.substring(0,8).toUpperCase() }}</p>\n<p>Kod ważny przez 7 dni.</p>\n<p><a href=\"https://yourdomain.com/checkout/{{ $('Extract Expiry Data').item.json.productSlug }}?coupon=WINBACK-{{ $('Extract Expiry Data').item.json.userId.substring(0,8).toUpperCase() }}\" style=\"display:inline-block;padding:12px 24px;background:#10b981;color:#fff;text-decoration:none;border-radius:8px\">Odnów dostęp ze zniżką →</a></p>",
        "options": {}
      },
      "id": "email-2",
      "name": "Send Win-back Email with Coupon",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1200, 440],
      "notes": "TODO: Configure SMTP credentials. Update domain URLs."
    }
  ],
  "connections": {
    "Sellf Webhook": {
      "main": [
        [
          { "node": "Respond OK", "type": "main", "index": 0 },
          { "node": "Extract Expiry Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Expiry Data": {
      "main": [
        [
          { "node": "Send Expiry Notification", "type": "main", "index": 0 },
          { "node": "Wait 2 Days", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 2 Days": {
      "main": [
        [{ "node": "Create Win-back Coupon (Sellf API)", "type": "main", "index": 0 }]
      ]
    },
    "Create Win-back Coupon (Sellf API)": {
      "main": [
        [{ "node": "Send Win-back Email with Coupon", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "sellf" }
}
